<div class="container">
  <app-project-hero [project]="project"></app-project-hero>
</div>
<div class="section section-grey">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Storytelling</h3>
      <p class="my-3 font-weight-light">
        LEAGUE INC. is a new personal health platform that designed to help people healthier, happier lives -- every
        day. I worked in a group of three with LEAGUE’s strategic advisor to complement user experience research.
      </p>
      <figure class="figure my-3">
        <img src="assets/img/{{this.project.url}}/banner-disable.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} banner">
        <figcaption class="font-weight-light my-3 figure-caption text-center">
          <p>LEAGUE connects people with the best preventative health professionals. </p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Interviews and a Persona
      </h3>
      <p class="my-3 font-weight-light">Our team interviewed acquaintances who use wellness professionals and
        individuals who were introduced to League in a workplace setting. We created a persona to determine our target
        users. It provided our team with insight that guided us through the decision-making procces.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/persona-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/persona.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} persona">
        </a>
      </figure>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Pain Points Map
      </h3>
      <p class="my-3 font-weight-light">Mapping a user's journey can give great insights into improving their
        experience. We created a user pain points map to quickly understand pain points at various phases in LEAGUE’s
        journey.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/pain-point-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/pain-point.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} pain points map">
        </a>
      </figure>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">User Process Map
      </h3>
      <p class="my-3 font-weight-light">Our team delivered the first sprint of UX related deliverables and a real basic
        journey map to describe user process for LEAGUE.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/user-process-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/user-process.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} user-process map">
        </a>
      </figure>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">User Process Visulization
      </h3>
      <p class="my-3 font-weight-light">We created a few low-fidelity mockups by visulizing the user process map to
        identify the key elements in our design.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/user-process-design-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/user-process-design.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} user-process design">
        </a>
      </figure>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">The Pivot
      </h3>
      <p class="my-3 font-weight-light">As a startup company, LEAGUE’s business direction must be able to shift and
        change as needed. The focus on the mobile platform was changed into web app halfway. However, a key factor that
        would remain unchanged was user behavior.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/pivot-user-flow-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/pivot-user-flow.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} pivot-user-flow">
        </a>
      </figure>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/pivot-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/pivot.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} pivot">
        </a>
      </figure>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Design and Crafts</h3>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Landing Page </h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-01-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-01.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} Landing Page">
            </a>
            <!-- <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Created six entrance portals based on the previous web page. Added live twitter plugin.</p>
            </figcaption> -->
          </figure>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Package List Page </h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-02-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-02.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} Package List Page">
            </a>
            <!-- <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Highlighted three major portals. Removed text from the banner. Added sublevel portals and contact us
                section.
              </p>
            </figcaption> -->
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Package Detail Page
            <br>(Choose Service)</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-03-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-03.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} Package Detail Page">
            </a>
            <!-- <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Finalized terms and labels. Added a survey section.</p>
            </figcaption> -->
          </figure>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Package Detail Page
            <br>(Choose Professionals)
          </h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-04-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-04.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} Package Detail Page">
            </a>
            <!-- <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Checked content copyrights and typography. Changed survey into an external questionnaire.</p>
            </figcaption> -->
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Professionals Map Page </h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-05-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-05.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} Professionals Map Page">
            </a>
            <!-- <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Finalized terms and labels. Added a survey section.</p>
            </figcaption> -->
          </figure>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Professional Detail Page </h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-06-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-06.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} Professional Detail Page">
            </a>
            <!-- <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Checked content copyrights and typography. Changed survey into an external questionnaire.</p>
            </figcaption> -->
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Poster</h3>
      <p class="my-3 font-weight-light">We created a poster to demonstrate what we found during our research. We were given the Runner-up in KMDI Poster Session Spring 2016 in the end.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/poster-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/poster.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} poster">
        </a>
      </figure>
    </div>
  </div>
</div>

<div class="section section-grey">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h3 class="h4 my-3">Information</h3>
        <div class="row">
          <div class="col-12 col-md-4">
            <h3 class="h6 my-3">Time</h3>
            <p class="my-3 font-weight-light">
                September 2015 - April 2016
            </p>
          </div>
          <div class="col-12 col-md-4">
              <h3 class="h6 my-3">Group Member
              </h3>
              <p class="my-3 font-weight-light">
                Benjamin Caughran
              </p>
              <p class="my-3 font-weight-light">
                <a href="https://www.linkedin.com/in/gulily/" target="_blank">
                  Lily Gu
                </a>
              </p>
              <p class="my-3 font-weight-light">
                <a href="https://www.linkedin.com/in/lishuoz/" target="_blank">
                  Lishuo Zhang
                </a>
              </p>
            </div>
          <div class="col-12 col-md-4">
            <h3 class="h6 my-3">Achivement</h3>
            <p class="my-3 font-weight-light">
                Runner-up in 
              <a href="http://kmdi.utoronto.ca/poster-session-gallery-from-past-to-present/"
                target="_blank">
                KMDI Poster Session Spring 2016
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-button-section [nextUrl]="this.nextUrl"></app-button-section>