<div class="container">
  <app-project-hero [project]="project"></app-project-hero>
</div>
<div class="section section-grey">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Storytelling</h3>
      <p class="my-3 font-weight-light">The Corporate Information Management Services unit wanted to redesign a City
        of Toronto Open Government web page for the public. The web page is intended to highlight the City’s diverse
        Open Government initiatives and activities while making it easy for the public to access City information and
        services.
      </p>
      <figure class="figure my-3">
        <img src="assets/img/{{this.project.url}}/banner-disable.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} banner">
        <figcaption class="font-weight-light my-3 figure-caption text-center">
          <p>The City of Toronto is one of Canada’s leading public sector organizations with regards to Open
            Government.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Interviews</h3>
      <p class="my-3 font-weight-light">I interviewed 9 city clerks to find out their opinions and suggestions for
        the new web page. Gathering requirements from stakeholders helped me understand the design principles for
        this open government web page.
      </p>
      <div class="row">
        <div class="col-12 col-sm-6 align-self-center">
          <h3 class="h6 my-3">For city clerks, open government means…</h3>
          <p class="my-3 font-weight-light"><em>"Open Government is about improving the delivery of services, making
              information more accessible and supporting initiatives that build public trust and confidence in
              government."</em>
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <figure class="figure my-3">
            <img src="assets/img/{{this.project.url}}/interview-disable.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} interview">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Co-creation</h3>
      <p class="my-3 font-weight-light">I worked with front-end developers, designers, and city clerks to co-design
        early prototypes. This session helped me understand internal constraints and transform suggestions into
        tangible deliverables.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/co-creation-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/co-creation.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} co-creation">
        </a>
      </figure>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Design and Crafts</h3>
      <p class="my-3 font-weight-light">I made four rapid iterations to the previous version after each discussion with
        stakeholders. <a href="https://www.toronto.ca/city-government/accountability-operations-customer-service/get-involved-how-government-works/open-government/"
          target="_blank">The new website</a> was launched in Oct 2015 to the public.
      </p>
      <figure class="figure my-3">
        <a href="https://www.toronto.ca/city-government/accountability-operations-customer-service/get-involved-how-government-works/open-government/"
          target="_blank">
          <img src="assets/img/{{this.project.url}}/design-00-disable.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} design and crafts">
          <figcaption class="font-weight-light my-3 figure-caption text-center">
            <p>City of Toronto New Open Government Web Page </p>
          </figcaption>
        </a>
      </figure>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">1st Draft</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-01-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-01.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} 1st draft design">
            </a>
            <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Created six entrance portals based on the previous web page. Added live twitter plugin.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">2nd Draft</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-02-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-02.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} 2nd draft design">
            </a>
            <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Highlighted three major portals. Removed text from the banner. Added sublevel portals and contact us
                section.
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">3rd Draft</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-03-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-03.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} 3rd draft design">
            </a>
            <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Finalized terms and labels. Added a survey section.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">4th Draft</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/design-04-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/design-04.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} 4th draft design">
            </a>
            <figcaption class="font-weight-light my-3 figure-caption text-center">
              <p>Checked content copyrights and typography. Changed survey into an external questionnaire.</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Comparison</h3>
      <p class="my-3 font-weight-light">The new open government web page looks more accessible and easy to navigate.</p>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">Before</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/before-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/before.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} page before redesign">
            </a>
          </figure>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h6 my-3">After</h3>
          <figure class="figure my-3">
            <a href="assets/img/{{this.project.url}}/after-lightbox.png" data-lity>
              <img src="assets/img/{{this.project.url}}/after.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} page after redesign">
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<app-hr></app-hr>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Poster</h3>
      <p class="my-3 font-weight-light">I created a poster to demonstrate my design process as a deliverable for my
        practicum course held by Faculty of Information, Universtiy of Toronto. My work was rated A+ at the end.
      </p>
      <figure class="figure my-3">
        <a href="assets/img/{{this.project.url}}/poster-lightbox.png" data-lity>
          <img src="assets/img/{{this.project.url}}/poster.png" class="figure-img img-fluid rounded" alt="{{this.project.title}} poster">
        </a>
      </figure>
    </div>
  </div>
</div>

<div class="section section-grey">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h3 class="h4 my-3">Information</h3>
      <div class="row">
        <div class="col-12 col-md-4">
          <h3 class="h6 my-3">Time</h3>
          <p class="my-3 font-weight-light">
            May 2015 - July 2015
          </p>
        </div>
        <div class="col-12 col-md-4">
          <h3 class="h6 my-3">My Role </h3>
          <p class="my-3 font-weight-light">
            UI/UX Designer
          </p>
        </div>
        <div class="col-12 col-md-4">
          <h3 class="h6 my-3">Website Link </h3>
          <p class="my-3 font-weight-light">
            <a href="https://www.toronto.ca/city-government/accountability-operations-customer-service/get-involved-how-government-works/open-government/"
              target="_blank">
              Visit Site
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-button-section [nextUrl]="this.nextUrl"></app-button-section>