<div class="container">
  <div class="vertical-center">
    <form #passwordForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password"
            aria-describedby="password" [(ngModel)]="password" name="password" required>
          <div class="input-group-append">
            <button class="btn btn-outline-primary btn-lg" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>